
# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd

# =====================
# Virtual Environment
# =====================
venv/
env/
.venv/

# =====================
# Environment Variables
# =====================
.env

# =====================
# IDE / Editor
# =====================
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log

# =====================
# OS files (Mac)
# =====================
.DS_Store

# =====================
# FastAPI / cache
# =====================
*.sqlite3
